/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 3em;
}

.icons-language i {
	font-size: 2.3em;
}

.icons-informatic i {
	font-size: 1.8em;
}

.icons-opsystem i {
	font-size: 1.8em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 10px;
	margin-bottom: 2.5rem;
 	animation-name: entrance;
  	animation-duration: 1s;
}

.icons-language i {
	padding: 15px;
	animation-name: entrance;
  	animation-duration: 2s;
}

.icons-informatic i {
	padding: 15px;
	line-height: 4.5rem;
	animation-name: entrance;
  	animation-duration: 3s;
}

.icons-opsystem i {
	padding: 15px;
	animation-name: entrance;
  	animation-duration: 4s;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

/* Animation */

@keyframes entrance {
  0%   {opacity: 0.1;}
  25%  {opacity: 0.15;}
  50%  {opacity: 0.2;}
  75%  {opacity: 0.25;}
  100% {opacity: 1;}
}